.wireless {
  flex: 1 1;
  padding: 10px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__wrap {
    text-align: end;
    padding-bottom: 20px;
  }

  &__desc {
    padding: 20px;
  }

  &__btn {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
  }
}